.jin-image{
  text-align:center;
  margin:0;
}
body{
  background-color:#C8102E;
  font-family:'Permanent Marker',serif;
  text-align: center
}
.secret{
  color:#E5E4E2}
li{
  text-decoration: underline;
  font-size: 20px
  
}
img{
  text-align: center}